* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: aquamarine;
  }


  
  nav a {
    color: #d61021;
    
    text-decoration-line: underline;
  }
  
/*side bar styling*/

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 20px;
}

section {
  flex: 70%;
  background-color: #b9c6ae;
  padding: 20px;


}

img {
    width: 100%;
    padding: 10px;
    height: 200px;
    border: 1px solid black;
  }

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/*create box*/

.max-width{
    max-width: 1500px;
    padding: 0 40px;
    margin: auto;
}
/*create the titleBar*/

.titleBar{
    position:fixed;
    padding: 10px 0;
    width: 100%;
    background: rgb(48, 48, 88);
    font-family: 'Ubuntu',sans-serif;

}

.titleBar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.titleBar .logo a{
    text-align: justify;
    color:aliceblue;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 25px;
   
}
.titleBar .menu li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.titleBar .menu li a{
    color: aqua;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;

}


.titleBar ul li a:hover{
    background: orchid;
    border-radius: 2px;

}



/*create About section styling*/

.About{
    height: 20vh;
    width: 30vh;
    background-color: #b9c6ae;
    border-right-style: solid;
   
}

.About .About-content {
    width: 1500px;
    display:flex;
    flex-direction: column;
    
     
}

.About-content {
    width: 100%;
    display: inline-block;
    margin: 10px;
    
    
}

.About-content {
    font-size: 16px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #b9c6ae;

}


/*create Hobby section styling*/

.Hobby{
    height: 30vh;
    width: 30vh;
    background-color: #b9c6ae;
    border-right-style: solid;

    
}

.Hobby .Hobby-image {
    width: auto;
    display:flex;
    background-color: #b9c6ae;


}
.Hobby-box {
    width: auto;
    display:flex;
    background-color: #b9c6ae;
    margin-top: 5px;

}


.Game {
    
    background-color: #b9c6ae;
    width: auto;  /* auto box */
    height: auto; 
    max-width: 400px;
    max-height: 300px; /* size of the box and imag */
    border: 5px solid yellow;

    
}


.Game a:hover{
    background: yellow;
    border-radius: 2px;
    filter: brightness(60%);

}

/*create Resume section styling*/

.Resume{
    height: 85vh;
    width: 30vh;
    background-color: #b9c6ae;
    border-right-style: solid;

    
}
.Resume .Resume-reference {
    width: 1300px;
    display:flex;

}
/* CONTAINER DESIGN*/



.Resume-reference1 {

    width:50%; float:left; display:inline;
    background-color: #b9c6ae;
}

.Resume-reference1 a:hover{
    background: yellow;
    border-radius: 2px;
    filter: brightness(60%);

}
.Resume-reference2 a:hover{
    background: yellow;
    border-radius: 2px;
    filter: brightness(60%);
    


}

/*create Contact section styling*/

.Contact {
    display: flex;

    width: 30vh;
    background-color: #b9c6ae;
    border-right-style: solid;
  }
  


  .Contact-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .Contact-info > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgb(41, 214, 6);
    text-align: center;
    font-size: 30px;
  }
  .Contact-info a:hover{
    background: yellow;
    border-radius: 5px;
    filter: brightness(60%);
    

}




