* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: aquamarine;
  }

  
/*side bar styling*/

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 20px;
}

section {
  flex: 70%;
  background-color: lightgrey;
  padding: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/*create box*/

.max-width{
    max-width: 1500px;
    padding: 0 40px;
    margin: auto;
}
/*create the titleBar*/

.titleBar{
    position:fixed;
    padding: 10px 0;
    width: 100%;
    background: rgb(48, 48, 88);
    font-family: 'Ubuntu',sans-serif;

}

.titleBar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.titleBar .logo a{
    text-align: justify;
    color:aliceblue;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 25px;
   
}
.titleBar .menu li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.titleBar .menu li a{
    color: aqua;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;

}

.titleBar ul li a .About,

.titleBar ul li a:hover{
    background: orchid;
    border-radius: 2px;

}



/*create About section styling*/

.About{
    height: 20vh;
    width: 30vh;
    background-color: #b9c6ae;
    border-right-style: solid;
    
    
    
    
}

.About .About-content .max-width{
    width: 1500px;
    display:flex;
    
    
    
     
}

.About-content {
    width: 100%;
    display: inline-block;
    margin: 10px;
    
}

.About-content {
    font-size: 16px ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


/*create Hobby section styling*/

.Hobby{
    height: 20vh;
    width: 30vh;
    background-color: #b9c6ae;
    border-right-style: solid;

    
}

.Hobby .Hobby-image .max-width{
    width: 1300px;
    display:flex;

}

/*create Resume section styling*/

.Resume{
    height: 20vh;
    width: 30vh;
    background-color: #b9c6ae;
    border-right-style: solid;

    
}
.Resume .Resume-reference .max-width{
    width: 1300px;
    display:flex;

}




/*create Contact section styling*/

.Contact{
    height: 20vh;
    width: 30vh;
    background-color: #b9c6ae;
    border-right-style: solid;

    
}

.Contact .Contact-info .max-width{
    width: 1300px;
    display:flex;

}