* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/*title distance*/

.max-width{
    max-width: 1300px;
    padding: 0 100px;
    margin: auto;
}
/*defined the titleBar*/

.titleBar{
    position:fixed;
    padding: 10px 0;
    width: 100%;
    background: rgb(48, 48, 88);
    font-family: 'Ubuntu',sans-serif;

}

.titleBar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleBar .logo a{
    color:aliceblue;
    font-size: 40px;
    font-weight: 600;
}
.titleBar .menu li{
    list-style: none;
    display: inline-block;
}

.titleBar .menu li a{
    color: aqua;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

/*create page bady bar*/

.informtion1{
    max-width: 500px;  /*zihang kuandu*/
    padding: 0 100px;
    margin: right;

}


.About1{
    position:fixed;
    padding: 10px 0;
    width: 100%;
    background: rgb(48, 48, 88);
    font-family: 'Ubuntu',sans-serif;

}

.About1 .informtion1 a{
    position:fixed;
    padding: 10px 0;
    width: 100%;
    background: rgb(150, 150, 206);
    font-family: 'Ubuntu',sans-serif;
}
